<section class="section" id="product">
  <section class="section-inner">
    <div id="client-logos"></div></div>

    <h2 class="margin-bottom-half"><span class="text-line">Thousands of people are talking about you and your industry every second.</span> <span class="text-line">Are you finding the most important things?</span></h2>
    <p>Encore’s proprietary machine learning engine turns all the noise into top insights you can act on right away.</p>
    <p class="margin-bottom">These insights help you acquire and retain more customers as well as detect and defuse crises faster.</p>

    <img src="<%= urlFor('/images/photos/main-insight.jpg') %>" class="margin-bottom autosize-image" />

    <div class="separator margin-bottom"></div>

    <h2 class="margin-bottom-half"><b>Know what’s happening before anyone else.</b></h2>
    <p class="margin-bottom">Get marketing and PR insights including:</p>

    <div>
      <div class="one-third-column">
        <div class="list-item">
          <img src="<%= urlFor('/images/icons/industry.svg') %>" width="48px" height="48px" />
          <p>Industry Trends</p>
        </div>
        <div class="list-item">
          <img src="<%= urlFor('/images/icons/competitive.svg') %>" width="48px" height="48px" />
          <p>Competitive Intelligence</p>
        </div>
        <div class="list-item">
          <img src="<%= urlFor('/images/icons/fan.svg') %>" width="48px" height="48px" />
          <p>Fan Content</p>
        </div>
      </div><!--

      --><div class="one-third-column">
        <div class="list-item">
          <img src="<%= urlFor('/images/icons/influencers.svg') %>" width="48px" height="48px" />
          <p>Influencers</p>
        </div>
        <div class="list-item">
          <img src="<%= urlFor('/images/icons/customer.svg') %>" width="48px" height="48px" />
          <p>Customer Complaints</p>
        </div>
        <div class="list-item">
          <img src="<%= urlFor('/images/icons/audience.svg') %>" width="48px" height="48px" />
          <p>Specific Audience Analysis</p>
        </div>
      </div><!--

      --><div class="one-third-column">
        <div class="list-item">
          <img src="<%= urlFor('/images/icons/crises.svg') %>" width="48px" height="48px" />
          <p>Breaking PR Crises</p>
        </div>
        <div class="list-item">
          <img src="<%= urlFor('/images/icons/intent.svg') %>" width="48px" height="48px" />
          <p>Moments of Intent</p>
        </div>
        <div class="list-item">
          <img src="<%= urlFor('/images/icons/testimonials.svg') %>" width="48px" height="48px" />
          <p>Customer Testimonials</p>
        </div>
      </div>
    </div>

  </section>
</section>